<% content_for :title, "Search - " %>
<div class ="row mx-auto">
  
    <div class="col-xs-2">
  <%= form_with(url: "/search", method: "get", local: true) do |fForm| %>
      <%= fForm.text_field :query, placeholder: " Insert cravings here", value: @q,
                                   class: "mr-1" %>
    </div>

    <div class="col-xs-2"> 
      <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#filterModal">Filters</button>
    </div>
</div>

    <div class="modal" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTitle" aria-hidden-"true">
      <div class="modal-dialog modal-dialog-centered card-text-color" role="document">
        <div class="modal-content card-bg-color">
          <div class="modal-header">
            <h5 class="modal-title" id="filterModalTitle">Filters</h5>
            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close</span>
            </button>
          </div>
          <div class="modal-body">

            <h5>Recipe tags:</h5>
            <div class="font-sm">
              <% @rType_inuse.each do |rt| %>
                <% @checked_rTypes.include?(rt) ? @chk = true : @chk = false %>
                <%= check_box_tag("rTypes[]selected", rt, checked=@chk) %>
                <%= fForm.label rt %>
              <% end %>
              <br>
            </div>
            <br>

            <h5>Ingredient tags:</h5>
            <div class="font-sm">
              <% @iTags_inuse.each do |it| %>
                <% @checked_iTags.include?(it) ? @chk = true : @chk = false %>
                <%= check_box_tag("iTags[]selected", it, checked=@chk) %>
                <%= fForm.label it %>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

<div class="row">
  <div class="col-2">
    <%= fForm.submit "Search" %>
  </div>
</div>
  <% end %>


<div class="row">
  <div class="col-12">
    
    <div>Showing <%= @results.count %> of <%= @total %> recipes</div>
    <% unless @q.nil? || @q == "" %>
      <div>Search: <%= @q %></div>
    <% end %>
    <div><%= @filter %></div>
  </div>
</div>
<hr>
<div class="row col-12 p-0 mx-auto">
  <% @results.each do |r| %>
    <%= render 'shared/recipe_link', rec: r %>
  <% end %>
</div>
