<%= render 'shared/search_form' %>

<div>
Search results for '<%= @q %>'
</div>
<hr>
<div class ="row">
  <div class="col-4">
    <%= form_with(url: "/search", method: "get", local: true) do |fForm| %>
      <%= fForm.label "Recipe Categories:" %><br>
      <% RecipeType.all.each do |rt| %>
        <% if @filter && @filter.include?(rt[:name]) %>
          <%= fForm.check_box("rTypes[]selected", {checked: true}, rt[:name]) %>
        <% else %>
          <%= fForm.check_box("rTypes[]selected", {}, rt[:name]) %>
        <% end %>
        <%= fForm.label rt[:name] %>
        <br>
      <% end %>
      <%= fForm.label "Ingredient Types:" %><br>
      <% IngredientTag.all.each do |it| %>
        <% if @filter && @filter.include?(it[:name]) %>
          <%= fForm.check_box("iTags[]selected", {checked: true}, it[:name], "0") %>
        <% else %>
          <%= fForm.check_box("iTags[]selected", {}, it[:name], "0") %>
        <% end %>
        <%= fForm.label it[:name] %>
        <br>
      <% end %>
      <%= fForm.hidden_field(:query, value: params[:query]) %>
      <%= fForm.submit "Filter" %>
    <% end %>
  </div>
  <div class="col-8">
    <% if @filter %>
      Showing only 
      <% @filter.each do |f| %>
        "<%= f %>"
      <% end %>
      <br>
    <% end %>
    Returned <%= @results.count %> recipes out of <%= @total %> total
    <hr>

    <% @results.each do |r| %>
      <%= render 'shared/recipe_link', rec: r %><br>
    <% end %>
  </div>
</div>
