<div class ="row">
  <div class="col-4">
    <% if @q != '' %>
      Search: <%= @q %>
    <% end %>
    <%= form_with(url: "/search", method: "get", local: true) do |fForm| %>
      <%= fForm.text_field :query %><%= fForm.submit "Filter" %>
      <br>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseRTypes" aria-expanded="false" aria-controls="collapseRTypes">
        Recipe Tags
      </button>
      <hr>
        <div class="collapse" id="collapseRTypes">
      <% RecipeType.all.each do |rt| %>
        <% if @filter && @filter.include?(rt[:name]) %>
          <%= check_box_tag("rTypes[]selected", rt[:name], checked=true) %>
        <% else %>
          <%= check_box_tag("rTypes[]selected", rt[:name], checked=false) %>
        <% end %>
        <%= fForm.label rt[:name] %>
        <br>
      <% end %>
        </div>
        <br>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseITags" aria-expanded="false" aria-controls="collapseITags">
        Ingredient Tags
      </button>
      <hr>
      <br>
        <div class="collapse" id="collapseITags">
      <% IngredientTag.all.each do |it| %>
        <% if @filter && @filter.include?(it[:name]) %>
          <%= check_box_tag("iTags[]selected", it[:name], checked=true) %>
        <% else %>
          <%= check_box_tag("iTags[]selected", it[:name], checked=false) %>
        <% end %>
        <%= fForm.label it[:name] %>
        <br>
      <% end %>
        </div>
    <% end %>
  </div>
  <div class="col-8">
    Returned <%= @results.count %> recipes out of <%= @total %> total
    <hr>

    <% @results.each do |r| %>
      <%= render 'shared/recipe_link', rec: r %><br>
    <% end %>
  </div>
</div>
