<%= form_with(model: @recipe, local: true) do |rForm| %>
  <div class="row">
    <div class="col-6 col-md-4">
      <%= rForm.label :name %>
      <%= rForm.text_field :name %>
      <br>
  
      <%= rForm.label :origin %>
      <%= rForm.text_field :origin %>
      <br>

      <%= rForm.label :author %>
      <%= rForm.text_field :author%>
    </div>
    <div class="col-6 col-md-4">
      (Times in minutes)
      <br>

      <%= rForm.label :cook_time %>
      <%= rForm.number_field :cook_time %>
      <br>

      <%= rForm.label :prep_time %>
      <%= rForm.number_field :prep_time %>
      <br>
    </div>

    <div class="col-md-4">
      Difficulty from 1-10, based on technique difficulty and how many things
      are happening at once
      <%= rForm.label :difficulty %>
      <%= rForm.number_field :difficulty %>
      <br>

      Can leave this blank, not using the images on recipe cards for now
      <br>
      <%= rForm.label :card_image_path %>
      <%= rForm.text_field :card_image_path %>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-12">
      <h4>Recipe Tags:</h4>
      <% RecipeType.all.each do |rt| %>
        <% @rTypes.include?(rt[:name]) ? @chk = true : @chk = false %>
        <%= check_box_tag("recipe[rTypes][]selected",
                           value=rt[:name],
                           checked=@chk) %>
        <%= rForm.label(rt[:name]) %>
      <% end %>

  <hr>

  <div class="row">
    <div class="col-12">
      <h4>Equipment:</h4>
      <% Equipment.all.each do |e| %>
        <% @eNames.include?(e[:name]) ? @chk = true : @chk = false %>
        <%= check_box_tag("recipe[equipment][]selected",
                          value=e[:name],
                          checked=@chk) %>
        <%= rForm.label(e[:name]) %>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h4>Ingredients:</h4>
      <% @allIngredients.each do |i| %>
        <span>
            <% @iNames.include?(i[:name]) ? @chk = true : @chk = false %>
            <%= check_box_tag("recipe[ingredients][]selected", 
                               value=i[:name], checked=@chk) %>
        </span>
        <span>
          <%= rForm.label(i[:name]) %>
        </span>
      <% end %>
    </div>
  </div>

  <br>
  <hr>

  <h4>Steps:</h4>
  <br>
  <% @recipe.actions.each_with_index do |a,n| %>
    <div class="row">
      <div class="col-12">
        <%= rForm.label("Title: ") %>
        <%= rForm.text_field("[actions][][title]", value: a[1][0]) %>
        <%= rForm.label("Step: #{n+1}") %>
        <br>
        <%= rForm.label("Body: ") %>
        <%= rForm.text_area("[actions][][body]", value: a[1][1], size: "80x5") %>
      </div>
    </div>
  <% end %>

  <%= rForm.submit "Submit changes" %>
<% end %>
