<%= form_with(model: @recipe, local: true) do |rForm| %>
  <%= rForm.label :name %>
  <%= rForm.text_field :name %>

  <%= rForm.label :origin %>
  <%= rForm.text_field :origin %>

  <%= rForm.label :author %>
  <%= rForm.text_field :author%>

  (Times in minutes)
  <%= rForm.label :cook_time %>
  <%= rForm.number_field :cook_time %>

  <%= rForm.label :prep_time %>
  <%= rForm.number_field :prep_time %>

  Difficulty from 1-10, based on technique difficulty and how many things
  are happening at once
  <%= rForm.label :difficulty %>
  <%= rForm.number_field :difficulty %>

  Can leave this blank, not using the images on recipe cards for now
  <%= rForm.label :card_image_path %>
  <%= rForm.text_field :card_image_path %>


  <hr>
  Recipe Tags:<br>
  <% RecipeType.all.each do |rt| %>
    <% if @tags.include?(rt[:name]) %>
      <%= check_box_tag("recipe[rTypes][]selected",
                               value=rt[:name],
                               checked=true) %>
    <% else %>
      <%= check_box_tag("recipe[rTypes][]selected",
                               value=rt[:name],
                               checked=false) %>
    <% end %>
    <%= rForm.label(rt[:name]) %>
  <% end %>
  <br><hr>
  Equipment:<br>
  <% Equipment.all.each do |e| %>
    <% if @eNames.include?(e[:name]) %>
      <%= check_box_tag("recipe[equipment][]selected",
                        value=e[:name], checked=true) %>
    <% else %>
      <%= check_box_tag("recipe[equipment][]selected",
                        value=e[:name], checked=false) %>
    <% end %>
    <%= rForm.label(e[:name]) %>
  <% end %>
  <br>
  <hr>
  Ingredients:<br>
  <table>
  <% Ingredient.all.each do |i| %>
    <tr>

      <% if @iNames.include?(i[:name]) %>
        <td><%= number_field_tag("recipe[ingredients]#{i[:name]}", @iQuants[i[:name]][0]) %></td>
      <% else %>
        <td><%= number_field_tag("recipe[ingredients]#{i[:name]}") %></td>
      <% end %>
      <td><%= {true => "mL", false => "g"}[i.is_liquid] %></td>
      <td><%= rForm.label(i[:name]) %></td>
    </tr>
  <% end %>
  </table>
  <hr>

  Steps:
  <br>
  <% @recipe.actions.keys.each do |k| %>
    <%= rForm.label("Title: ") %>
    <%= rForm.text_field("[actions][][title]", value: @recipe.actions[k][:title]) %>
    <%= rForm.label("Step: #{k.to_i + 1}") %>
    <!--
    <%= rForm.number_field("[actions][][order]", value: (k.to_i)+1) %>
    -->
    <br>
    <%= rForm.label("Body: ") %>
    <%= rForm.text_area("[actions][][body]", value: @recipe.actions[k][:body], size: "80x5") %>
    <br><br>
  <% end %>

  <%= rForm.submit "Submit changes" %>
<% end %>
