<%= form_with(model: @recipe, local: true) do |rForm| %>
  <%= rForm.label :name %>
  <%= rForm.text_field :name %>

  <%= rForm.label :origin %>
  <%= rForm.text_field :origin %>

  <%= rForm.label :author %>
  <%= rForm.text_field :author%>
  <hr>
  Recipe Tags:<br>
  <% RecipeType.all.each do |rt| %>
    <% if @tags.include?(rt[:name]) %>
      <%= rForm.check_box("rTypes[]selected", {checked: true}, rt[:name], "0") %>
    <% else %>
      <%= rForm.check_box("rTypes[]selected", {}, rt[:name], "0") %>
    <% end %>
    <%= rForm.label(rt[:name]) %>
  <% end %>
  <br><hr>
  Equipment:<br>
  <% Equipment.all.each do |e| %>
    <% if @eNames.include?(e[:name]) %>
      <%= rForm.check_box("equipment[]selected", {checked: true}, e[:name], "0") %>
    <% else %>
      <%= rForm.check_box("equipment[]selected", {}, e[:name], "0") %>
    <% end %>
    <%= rForm.label(e[:name]) %>
  <% end %>
  <br>
  <hr>
  Ingredients:<br>
  <table>
  <% Ingredient.all.each do |i| %>
    <tr>
      <!--
      <% if @iNames.include?(i[:name]) %>
        <td><%= check_box_tag("recipe[ingredients][][name]", value=i[:name], checked = true) %></td>
      <% else %>
        <td><%= check_box_tag("recipe[ingredients][][name]", value=i[:name], checked = false) %></td>
      <% end %>
      -->

      <% if @iNames.include?(i[:name]) %>
        <td><%= number_field_tag("recipe[ingredients]#{i[:name]}", @iQuants[i[:name]]) %></td>
      <% else %>
        <td><%= number_field_tag("recipe[ingredients]#{i[:name]}") %></td>
      <% end %>
      <td><%= rForm.label(i[:name]) %></td>
    </tr>
  <% end %>
  </table>
  <hr>

  Steps:
  <br>
  <% @recipe.actions.keys.sort.each do |k| %>
    <%= rForm.label("Title: ") %>
    <%= rForm.text_field("[actions][][title]", value: @recipe.actions[k][:title]) %>
    <%= rForm.label("Order: ") %>
    <%= rForm.number_field("[actions][][order]", value: k) %>
    <br>
    <%= rForm.label("Body: ") %>
    <%= rForm.text_area("[actions][][body]", value: @recipe.actions[k][:body], size: "80x5") %>
    <br><br>
  <% end %>

  <%= rForm.submit "Submit changes" %>
<% end %>
