<div class="text-center jumbotron">
<%= @recipe.name %>
</div>

<% if user_signed_in? %>
  <% unless @favorites.include?(@recipe) %>
    <%= form_with(url: "/user_profiles/favorites/#{current_user.user_profile.id}",
               method: "post", local: true) do |favForm| %>
               <%= favForm.hidden_field :addFavID, value: @recipe.id %>
               <%= favForm.submit "Favorite" %>
    <% end %>
  <% else %>
    <%= form_with(url: "/user_profiles/favorites/#{current_user.user_profile.id}", method: "delete", local: true) do |favForm| %>
      <%= favForm.hidden_field :addFavID, value: @recipe.id %>
      <%= favForm.submit "Un-favorite" %>
    <% end %>
  <% end %>
<% end %>

<br><hr><br>
Tags:
<% @tags.each do |t| %>
  <%= t %><% unless t == @tags.last %><%= ", " %><% end %>
<% end %>
<br><hr><br>
<h4>Equipment you'll need</h4>
<br>
<% @recipe.equipment.each do |e| %>
  <%= link_to e.name, e.affiliate_link %><br>
<% end %>
<br><hr><br>
<h4>Ingredients:</h4>
<br>
<table>
<% @recipe.ing_quants.each do |iq| %>
  <tr>
    <td class="font-md"><%= "#{iq[1][:quant]}" %>
    <td class="font-md"><%= "#{iq[1][:baseunit]}" %>
    <td class="font-md"><%= "#{iq[0]}" %>
  </tr>
<% end %>
</table>
<br><hr><br>
Steps:<br>
<% @recipe.actions.sort.each do |s| %>
  <b><%= s[1][:title] %></b>:
  <%= s[1][:body] %><br>
<% end %>
