<div class="text-center jumbotron">
<%= @recipe.name %>
</div>
<br><hr><br>
Tags:
<% @tags.each do |t| %>
  <%= t %><% unless t == @tags.last %><%= ", " %><% end %>
<% end %>
<br><hr><br>
Equipment you'll need for this recipe:<br>
<% @recipe.equipment.each do |e| %>
  <%= link_to e.name, e.affiliate_link %><br>
<% end %>
<br><hr><br>
Ingredients:<br>
<table>
<% @recipe.ing_quants.each do |iq| %>
  <tr>
    <td><%= iq[1] %> grams</td>
    <td><%= iq[0] %></td>
  </tr>
<% end %>
</table>
<br><hr><br>
Steps:<br>
<% @recipe.actions.sort.each do |s| %>
  <b><%= s[1][:title] %></b>:
  <%= s[1][:body] %><br>
<% end %>
