<% content_for :title, "#{@recipe.name} - " %>
<div class="text-center text-dark jumbotron">
  <%= @recipe.name %>
</div>

<div class="row">
  <div class="col text-center">
    <% if user_signed_in? %>
      <% unless @favorites.include?(@recipe) %>
        <%= form_with(url: "/user_profiles/favorites/#{current_user.user_profile.id}", method: "post", local: true) do |favForm| %>
          <%= favForm.hidden_field :addFavID, value: @recipe.id %>
          <%= favForm.submit "Save this recipe", class: "btn btn-dark active" %>
        <% end %>
      <% else %>
        <%= form_with(url: "/user_profiles/favorites/#{current_user.user_profile.id}", method: "delete", local: true) do |favForm| %>
          <%= favForm.hidden_field :addFavID, value: @recipe.id %>
          <%= favForm.submit "Un-save this recipe", class: "btn btn-primary active" %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to "Sign-in to save this recipe!",
          new_user_session_path,
          class: "btn btn-primary active" %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12 bg-secondary border border-secondary rounded py-3">
    <h4>Equipment you'll need</h4>
    <% @recipe.equipment.each do |e| %>
      <%= link_to e.name, e.affiliate_link, target: "_blank", class: "btn btn-dark active mb-1" %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 bg-secondary border border-secondary rounded py-3">
    <h4>Ingredients:</h4>
    <table>
      <% @ingredients.each do |i| %>
        <tr>
          <td class="font-md"><%= i.units[ @unit_selector ][0].to_i*@servings.to_f %></td>
          <td></td>
          <td class="font-md"><%= i.units[ @unit_selector ][1] %></td>
          <td></td>
          <td class="font-md"><%= i.name %></td>
        </tr>
      <% end %>
    </table>
    <%= form_with(url: recipe_path, method: "get", local: true) do |cForm| %>
      <%= cForm.label "Servings: " %>
      <%= cForm.number_field :servings, value: @servings %>
      
      <%= cForm.select(:convert,
            options_for_select([["Metric", true], ["Imperial", false]], selected: @chosen)) %>
      <%= cForm.submit("Change",
        class: "btn btn-primary btn-sm active",
        name: nil) %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12 bg-secondary border border-secondary rounded pt-3">
    <h4>Steps:</h4>
    <br>

    <% @recipe.actions.sort.each_with_index do |k,n| %>
      <h5><%= n+1 %>: <%= k[1][0] %></h5>
      <p class="font-md">
      <%= k[1][1] %>
      <p>
    <% end %>
  </div>
</div>
