<% content_for :title, "#{@recipe.name} - " %>
<div class="text-center jumbotron">
  <%= @recipe.name %>
</div>

<div class="row">
  <div class="col text-center">
    <% if user_signed_in? %>
      <% unless @favorites.include?(@recipe) %>
        <%= form_with(url: "/user_profiles/favorites/#{current_user.user_profile.id}", method: "post", local: true) do |favForm| %>
          <%= favForm.hidden_field :addFavID, value: @recipe.id %>
          <%= favForm.submit "Save this recipe", class: "btn btn-dark active" %>
        <% end %>
      <% else %>
        <%= form_with(url: "/user_profiles/favorites/#{current_user.user_profile.id}", method: "delete", local: true) do |favForm| %>
          <%= favForm.hidden_field :addFavID, value: @recipe.id %>
          <%= favForm.submit "Un-save this recipe", class: "btn btn-primary active" %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to "Sign-in to save this recipe!",
          new_user_session_path,
          class: "btn btn-primary active" %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <h4>Equipment you'll need</h4>
    <br>
    <% @recipe.equipment.each do |e| %>
      <%= link_to e.name, e.affiliate_link, target: "_blank" %><br>
    <% end %>
  </div>
</div>

<hr><br>

<div class="row">
  <div class="col">
    <h4>Ingredients:</h4>
    <br>
    <table>
      <% @quants.each do |iq| %>
        <tr>
          <td class="font-md"><%= "#{iq[1]}" %>
          <td class="font-md"><%= "#{iq[0]}" %>
        </tr>
      <% end %>
    </table>
    <% if params[:convert] == "true" %>
      <%= link_to "Convert to metric", @recipe, method: "get", class: "btn btn-primary btn-sm active" %>
    <% else %>
      <%= link_to "Convert to imperial", recipe_path(convert: true), method: :get, class: "btn btn-sm btn-primary active" %>
    <% end %>
  </div>
</div>

<hr><br>

<h4>Steps:</h4>
<br>
<% @recipe.actions.sort.each_with_index do |s,n| %>
  <h5><%= n+1 %>: <%= s[1][:title] %></h5>
  <p class="font-md">
  <%= s[1][:body] %>
  <p>
<% end %>
