<%= form_with(model: @iTag, local: true) do |tForm| %>
  <%= tForm.label "Tag Name: " %>
  <%= tForm.text_field :tag, value: @iTag.name %>

  <%= tForm.submit "Submit"%>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Ingredient Count</th>
  </tr>
<% @iTags.each do |t| %>
  <tr>
    <td><%= link_to t.name, edit_ingredient_tag_path(t) %></td>
    <td><%= t.ingredients.count %></td>
    <td><%= link_to "Delete", t, method: :delete, data: {confirm: "Delete #{t.name}?"} %></td>
  </tr>
<% end %>
</table>
