<%= form_with(model: @ingredient, local: true) do |iForm| %>
  Tags:<br>
  <% IngredientTag.all.each do |it| %>
    <% if @tags.include?(it[:name]) %>
      <%= check_box_tag("ingredient[iTags][]selected",
                                   value=it[:name],
                                   checked=true) %>
    <% else %>
      <%= check_box_tag("ingredient[iTags][]selected",
                                   value=it[:name],
                                   checked=false) %>
    <% end %>
    <%= iForm.label(it[:name]) %>
  <% end %>
  <br><hr>
  
  <%= iForm.label :name %>
  <%= iForm.text_field :name %>

  <%= iForm.label "Calories per 100g" %>
  <%= iForm.number_field :caloriespergram %>

  <h4>Units</h4>  
  <table>
    <th>
      <td>Imperial</td>
    </th>
    <tr>
      <td><%= iForm.label "show" %></td>
      <td><%= iForm.number_field :imperial_show_num, value: @ingredient.units['imperial_show'][0] %></td>
      <td><%= iForm.text_field :imperial_show_unit, value: @ingredient.units['imperial_show'][1] %></td>
    </tr>
    <tr>
      <td><%= iForm.label "list" %></td>
      <td><%= iForm.number_field :imperial_list_num, value: @ingredient.units['imperial_list'][0] %></td>
      <td><%= iForm.text_field :imperial_list_unit, value: @ingredient.units['imperial_list'][1] %></td>
    </tr>
  </table>

  <table>
    <th>
      <td>Metric</td>
    </th>
    <tr>
      <td><%= iForm.label "show" %></td>
      <td><%= iForm.number_field :metric_show_num, value: @ingredient.units['metric_show'][0] %></td>
      <td><%= iForm.text_field :metric_show_unit, value: @ingredient.units['metric_show'][1] %></td>
    </tr>
    <tr>
      <td><%= iForm.label "list" %></td>
      <td><%= iForm.number_field :metric_list_num, value: @ingredient.units['metric_list'][0] %></td>
      <td><%= iForm.text_field :metric_list_unit, value: @ingredient.units['metric_list'][1] %></td>
    </tr>
  </table>

  <%= iForm.submit "Submit" %> 
<% end %>
