<div class="card mb-4 mx-auto" style="width: 350px;">
  <%= image_tag("card_background.png", class: "card-img") %>
  <div class="card-img-overlay">
    <h4 class="card-title card-text-color text-center"><%= rec.name %></h4>
    <p class="card-text">
    <%= image_tag("skill_title.png") %><%= image_tag("progressindicator_#{rec.get_difficulty}") %>
    </p>
    <p class="card-text">
    <%= image_tag("ingredients_title.png") %><%= image_tag("progressindicator_#{rec.get_difficulty}") %>
    </p>
    <p class="card-text">
    <%= image_tag("time_title.png") %><%= image_tag("progressindicator_#{rec.get_difficulty}") %>
    </p>
    <p class="card-text">
    <div class="row">
      <div class="col-6">
        <ul class="card-text-color pl-3">
        <!-- reserved for visual tags -->
      </ul>
      </div>
      <div class="col-6 text-right">
    <% if user_signed_in? %>
      <% unless @favorites.include?(rec) %>
        <%= form_with(url: "/user_profiles/favorites/#{current_user.user_profile.id}", method: "post", local: true) do |favForm| %>
          <%= favForm.hidden_field :addFavID, value: rec.id %>
          <span class="unfavorite-button">
          <%= favForm.submit "" %>
          </span>
        <% end %>
      <% else %>
        <%= form_with(url: "/user_profiles/favorites/#{current_user.user_profile.id}", method: "delete", local: true) do |favForm| %>
          <%= favForm.hidden_field :addFavID, value: rec.id %>
          <span class="favorite-button">
          <%= favForm.submit "" %>
          </span>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to image_tag("notfavorite_up.png", size: "47x67"),
          new_user_session_path %>
    <% end %>
      </div>
    </div>
    </p>
  </div>
</div>
