<div class="card mb-4 mx-auto" style="width: 350px;">
  <%= image_tag("card_background.png", class: "card-img") %>
  <div class="card-img-overlay pt-2 d-flex flex-column">

    <h4 class="card-title card-text-color text-center mb-4"><%= rec.name %></h4>

    <div class="row align-items-start">
      <div class="col-4 card-text justify-content-start mb-2 pr-0">
        Skill:
      </div>
      <div class="col-8 card-text justify-content-end mb-2">
        <div class="progress">
          <div class="progress-bar bg-<%= rec.get_bartype(rec.difficulty) %>" role="progressbar" style="width: <%= rec.difficulty*10 %>%"></div>
        </div>
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col-4 card-text justify-content-start mb-2 pr-0">
        Ingredients:
      </div>
      <div class="col-8 card-text justify-content-end mb-2">
        <div class="progress">
          <div class="progress-bar bg-<%= rec.get_bartype(rec.ingredient_score/10) %>" role="progressbar" style="width: <%= rec.ingredient_score %>%"></div>
        </div>
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col-4 card-text justify-content-start mb-2 pr-0">
        Time:
      </div>
      <div class="col-8 card-text justify-content-end mb-2">
        <div class="progress">
          <div class="progress-bar bg-<%= rec.get_bartype(rec.time_score/10) %>" role="progressbar" style="width: <%= rec.time_score %>%"></div>
        </div>
      </div>
    </div>

    <div class="row mt-auto">
      <div class="col-6">
        <%= link_to "", rec, class: "btn view-button" %>
      </div>
      <div class="col-6 text-right">
        <% if user_signed_in? %>
          <% unless @favorites.include?(rec) %>
            <%= form_with(url: "/user_profiles/favorites/#{current_user.user_profile.id}", method: "post", local: true) do |favForm| %>
              <%= favForm.hidden_field :addFavID, value: rec.id %>
              <span class="unfavorite-button">
                <%= favForm.submit "" %>
              </span>
            <% end %>
          <% else %>
            <%= form_with(url: "/user_profiles/favorites/#{current_user.user_profile.id}", method: "delete", local: true) do |favForm| %>
              <%= favForm.hidden_field :addFavID, value: rec.id %>
              <span class="favorite-button">
                <%= favForm.submit "" %>
              </span>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to image_tag("notfavorite_up.png", size: "47x67"),
              new_user_session_path %>
        <% end %>
      </div>
    </div>

  </div>
</div>
