<div class="card mb-4 mx-auto" style="width: 350px;">
  <%= link_to image_tag(rec.get_image_path), rec, class: "card-image-top" %>
  <div class="card-body">
    <h4 class="card-title"><%= rec.name %></h4>
    <h6 class="card-subtitle text-muted"><%= rec.origin %></h6>
    <p class="card-text">
    Prep: <%= rec.prep_time %> minutes
    <br>
    Cook: <%= rec.cook_time %> minutes
    </p>
    <div class="card-footer">
      <% if user_signed_in? %>
        <% unless @favorites.include?(rec) %>
          <%= form_with(url: "/user_profiles/favorites/#{current_user.user_profile.id}", method: "post", local: true) do |favForm| %>
            <%= favForm.hidden_field :addFavID, value: rec.id %>
            <%= favForm.submit "Favorite", class: "btn btn-dark active" %>
          <% end %>
        <% else %>
          <%= form_with(url: "/user_profiles/favorites/#{current_user.user_profile.id}", method: "delete", local: true) do |favForm| %>
            <%= favForm.hidden_field :addFavID, value: rec.id %>
            <%= favForm.submit "Un-favorite", class: "btn btn-dark active" %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "Sign-in to save this recipe!",
            new_user_session_path,
            class: "btn btn-dark active" %>
      <% end %>
    </div>
  </div>
</div>
