<header>
  <% if request.fullpath == '/' %>
    <nav class="navbar navbar-expand-md navbar-dark">
  <% else %>
    <nav class="navbar navbar-expand-md navbar-light">
  <% end %>

   <!-- home button image -->
   <% unless request.fullpath == '/' %>
     <span class="nav mr-auto">
       <%= link_to image_tag('icon_small.png', size: "32x32"), root_path %>
     </span>
   <% end %>

   <!-- Nav button toolbar-->
   <div class="btn-toolbar" role="toolbar" aria-label="nav button toolbar">

   <!-- header search bar, only on recipe pages  -->
    <% if request.fullpath.include? '/recipes/' %>
      <div class="btn-group-sm mr-3" role="group" aria-label="browse button">
        <%= link_to "Browse", browse_path, class: "btn btn-primary active" %>
      </div>
    <% end %>

    <!-- Login/Logout/UserProfile links -->
    <div class="btn-group-sm">
      <% if user_signed_in? %>
        <%= link_to "Profile",
            user_profile_path(current_user.user_profile),
            class: "btn btn-primary active" %>
          <%= link_to "Logout",
            destroy_user_session_path,
            method: :delete,
            class: "btn btn-primary active" %>
      <% else %>
        <%= link_to "Login", user_session_path, class: "btn btn-primary active" %>
        <%= link_to "Sign-up",
            new_user_registration_path,
            class: "btn btn-primary active" %>
      <% end %>
      </div>
    </div>
  </nav>
</header>
