<header>
  <% if request.fullpath == '/' %>
  <nav class="navbar navbar-toggleable-md navbar-expand-md navbar-dark">
  <% else %>
  <nav class="navbar navbar-toggleable-md navbar-expand-md navbar-light">
  <% end %>


      <!-- home button image -->
      <% unless request.fullpath == '/' %>
      <ul class="nav mr-auto">
        <li class="p-1"><%= link_to image_tag('icon_small.png',
                                              size: "32x32"), 
                                              root_path %></li>
      </ul>
      <% end %>
      <button class="navbar-toggler navbar-toggler-right ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- header search bar, only on recipe pages  -->
      <% if request.fullpath.include? '/recipes/' %>
        <ul class="nav ml-auto">
          <%= render 'shared/search_form' %>
        </ul>
      <% end %>

      <div class="ml-auto collapse navbar-collapse" id="navbarNav">
      <!-- Login/Logout/UserProfile links -->
      <% if user_signed_in? %>
        <span class="font-lg">
          <%= link_to "Profile", user_profile_path(current_user.user_profile) %>
          |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </span>
      <% else %>
        <span class="font-lg">
          <%= link_to "Login", user_session_path %>
          or
          <%= link_to "Sign-up", new_user_registration_path %>
        </span>
      <% end %>
      </div>
  </nav>
</header>
